<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.refractions.udig.ui.application"
            name="uDig SDK">
         <property
               name="windowImages"
               value="icons/icon16.gif,icons/icon32.gif,icons/icon64.gif,icons/icon128.gif">
         </property>
         <property
               name="aboutText"
               value="%verboseAboutText">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="0,196,500,8">
         </property>
         <property
               name="startupMessageRect"
               value="7,180,445,16">
         </property>
      </product>
   </extension>
</plugin>